@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background-color: #30b830;

}
.nav-item {
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.nav-item:hover {
  color: black;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.logo-link {
  text-decoration: none; /* Removes default underline from the link */
  display: flex; /* Aligns the logo image and title */
  align-items: center;

}

.logo-title {
  font-size: 24px; /* Adjust the title font size */
  color: white; /* Set title color */
  text-decoration: none;
  font-weight: bold;
}

/*--*/
.nav-links{
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.nav-links li a:hover {
  color: black;
  transform: scale(1.05);
}

.register-btn {
  background-color: #fff;
  color: #32CD32;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #f2f2f2;
}

