body {
    background: url("../assets/weather1.jpeg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .form-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
  }
  
  button {
    background: brown;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .links a {
    text-decoration: none;
    color: brown;
  }
  